<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'room_list' %}">Rooms</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <form action="{% url 'room_list' %}">
                    <input type="text" name="q" placeholder="Search Room...">
                </form>
            </li>
            {% endif %}
        </ul>   
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>